html {
    overflow-x: hidden;
}
body{
    display: grid;
    display: grid;
    justify-items: center;
    justify-content: center;
}
img {
    position: relative;
    width: 100vw;
}
@media (max-width: 768px) {

}
